body{
  background-color: #a05c2f;
}

.game-area{
  position: relative;
  margin: auto;
  width: 500px;
  height: 500px;
  border: 10px solid #0c0a0a;
  background-color: beige;
  border-top: 0px solid;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #462222;
  border: 1px solid white;
  border-radius: 5px;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border: 1px solid white;
  border-radius: 7px;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 500px;
  margin: 20px auto 0px;
  background-color: beige;
  border: 10px solid;
}

.header div {
  font-size: larger;
  margin: 10px 10px 5px 10px;
  font-variant: petite-caps;
  font-weight: 700;
}